<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Motivational Meme</title>

  <link rel="stylesheet" href="../static/css/week-2-style.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <div>
    <img class="cat" src="{{ image }}" alt="catimg"/>
    <h1> hi, this is your weather cat 🐈 </h1>
    <h3> datetime.now(): {{ time }} </h3>
    <p> The weather outside is: {{ weather }}, {{ temp }}°C </p> 
    <p> By {{ next_time }}, the weather is expected to be {{ forecast }} </p> 
  </div>
</body>
</html>